@font-face {
    font-family: 'Dosis';
    src: url("/fonts/Dosis-Bold.woff") format("woff"),
         url("/fonts/Dosis-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: rgb(220, 243, 222);
    margin: 30px;
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: "Dosis", sans-serif;
}

#contentContainer {
    max-width: 980px;
    margin: auto;
    height: 500px;
    border: 8px rgb(44, 119, 189) solid;
    border-top: none;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(140, 216, 240, 0) 0%, #8CD8F0 30%);
    cursor: pointer;
    border-radius: 0% 0% 50% 50%;
    z-index: 990;
}

#fish {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s ease-in, top .5s ease-in;
    /*transform: scaleX(-1);*/
}



/*********** MEDIA *********/

@media only screen
        and (max-width: 420px)

    {

#contentContainer {
    height: 420px;
}

#fish {
    width: 80px;
}

h1 {
    margin-top: 2rem;
}

}
